body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title {
  font-weight: 600;
  font-size: 4.8rem;
  margin-bottom: 25px;
  color: whitesmoke;
  font-family: "Outfit", sans-serif;
}
.subtitle {
  font-size: 2rem;
  color: whitesmoke;
  margin: auto;
  margin-bottom: 35px;
  width: 50%;
}

main {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 4rem;
}
footer {
  text-align: center;
}
.star {
  margin-bottom: 50px;
}
.star .singleStar {
  margin: 5px;
  fill: #0b103b;
}
button {
  margin-top: 70px;
  font-weight: bold;
  font-size: x-large;
  font-family: "outfit";
  background-color: #00ffff;
  box-shadow: 1px 0px 25px 3px #32c5c5;
  padding-inline: 4rem;
  padding-block: 1rem;
  border: none;
  height: 70px;
}
input {
  height: 20px;
  margin: auto;
  width: 41.5%;
  background: none;
  border: none;
  margin-bottom: 10px;
  color: whitesmoke;
}
input::placeholder {
  font-size: 20px;
}
.breakLine {
  margin: auto;
  width: 44.5%;
  height: 2px;

  background-color: #900080;
}
